<div class="container-fluid">
  <div class="row no-gutters justify-content-center">
    <h1>The rotating rectangle problem</h1>
  </div>
  <div class="row no-gutters">
    <label for="range-selection" class="col-12">
      Select rectangles quantity to generate <i>(between 3 and 30)</i>
    </label>
    <input id="range-selection" list="tick-marks"
           type="range" title="Select rectangles quantity"
           [(ngModel)]="rangeVal" [min]="minRangeVal" [max]="maxRangeVal" step="1">
    <input type="text" title="Quantity (this field is readonly)"
           class="quantity-preview"
           [(ngModel)]="rangeVal" readonly>
    <button #goBtn class="btn btn-success ml-2"
            (click)="doTheJob()">Go!</button>

    <datalist id="tick-marks">
      <ng-container *ngFor="let mark of marks, let i = index">
        <option [value]="i + 1" [label]="i + 1">
      </ng-container>
    </datalist>

  </div>
  <div class="row no-gutters">
    <div #horizontal class="rectangle-field flex-row"></div>
    <hr class="divider my-2">
    <div #vertical class="rectangle-field_vertical"></div>
  </div>
</div>
